<div class="album-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">アルバムを閉じる</a>
    </div>
  </div>
</div>

<div class="album-content">
</div>

<div class="diary">
  <div class="new-diary">
    <%= link_to "Make memory" %>
  </div>
</div>