<div class="side-bar-header">
  <div class="header-name">
    <a href="#"><%= current_user.nickname%></a>
  </div>
  <div class="create-album">
    <%= link_to 'アルバムを作成する', new_album_path %>
  </div>
</div>

<div class="albums">
  <% current_user.albums.each do |album| %>
    <div class="album">
      <div class="album-name">
        <%= link_to album.name, album_diaries_path(album) %>
      </div>
    </div>
  <% end %>
</div>