<div class="main-container">
  <div class="right-content">
    <p>A-Diary</p>
  </div>
  <div class="left-content">
   <div class="user">
    <p class="sign-up">Sing up</p>
   </div>
   <div class="user-log">
    <p class="log">Log in</p>
   </div>
  <%# <% if user_signed_in? %> 
    <%# <%= link_to current_user.nickname, "#", class: "user-nickname" %> 
    <%# <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout" %> 
  <%# <% else %> 
    <%# <%= link_to 'Sing up', new_user_registration_path, class: "new-log" %> 
    <%# <%= link_to 'Log in', new_user_session_path, class: "log" %> 
  <%# <% end%> 
  </div>
</div>