<header>
  <div class="container">
    <%= link_to "A-Diary", albums_path, class: "home" %>
    <nav>
      <ul>
        <li><%= link_to "Sing up", new_user_registration_path, class: "sign-up"%></li>
        <li><%= link_to "Log in", new_user_session_path, class: "log" %></li>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1>カレンダー上に簡単に思い出を残せるアプリ</h1>
    <p>どんな時でも<br>
       思い出を<br>
       すぐに思い出せる
    </p>
  </div>
</section>
