footer{
  display: flex;
  align-items: flex-end;
  margin-top: 416px;
}
.footer-content{
  background-color: antiquewhite;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}