
 
 .main_album {
   background-color: #FFFFFF;
   width: calc(100vw - 300px);
 }

 .album-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.album-content {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.diary {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.new-diary {
  background-color: antiquewhite;
  width: 300px;
  height: 50px;
  padding-top: 10px;
  border-radius: 30%;
}

a{
 text-decoration: none;
 color:rgb(29, 147, 108);
}

