// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップ画面
// 全体

// header

body {
  background-image: image-url('bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  // opacity: 30%;
  
}

header {
 margin: 0;
 padding: 8px 0;
 font-family: fantasy;
 
}

header .container {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header nav ul {
  display: flex;
}

header li + li {
  margin-left: 8px;
}

.container .home {
  font-size: 40px;
  color:rgba(246, 144, 11, 0.999);
  transition: color .3s;
}

.container .home:hover {
  color: rgb(156, 213, 236);
}

li .sign-up,
li .log {
  font-size: 25px;
  color:rgba(246, 144, 11, 0.999);
  transition: color .3s;
}

li .sign-up:hover,
li .log:hover {
  color: rgb(156, 213, 236);
}

// hero
.hero {
 
  height: 100vh;
 
  position: relative;
  
 
}

section .container {
  position: absolute;

}




