// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップ画面
// 全体
.main-container{
  background-color: bisque;
  height: 100vh;
  background-image: image-url('top.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
/////////////////////////////////////////////////////////////////////

// 画面左半分

.left-content{
  width: 50vw;
  position: relative;
}

.left-content p {
  position: absolute;
  top: 30%;
  left: 47%;
  color: white; 
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
  
}
.left-content > p{
  color: white;
  transition: color .3s;
}

.left-content > p:hover {
  color: rgb(156, 213, 236);
}

//////////////////////////////////////////////////////////////////////////


// 画面右半分
.right-content{
   width: 50vw;
   position: relative;
}

.right-content .sign-up {
  position: absolute;
  top: 45%;
  left: 20%;
  color: white; 
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
}

.sign-up  { 
  text-decoration: none;
  transition: color .3s;
}

.sign-up:hover {
  color: rgb(156, 213, 236);
}



.right-content .log{
  position: absolute;
  top: 63%;
  left: 20%;
  color: white; 
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
}

.log { 
  text-decoration: none;
  transition: color .3s;
}

.log:hover {
  color: rgb(156, 213, 236);
}



.right-content .user-nickname {
  position: absolute;
  top: 45%;
  left: 20%;
  color: white; 
  font-weight: bold;
  font-size: 50px;
}
.user-nickname{
  text-decoration: none;
}

.right-content .logout {
  position: absolute;
  top: 60%;
  left: 20%;
  color: white; 
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
}
.log{
  text-decoration: none;
  transition: color .3s;
}

.log:hover {
  color: rgb(156, 213, 236);
}
