// 新規投稿画面の見た目

.time {
  margin-bottom: 10px;
}

.weather{
  margin-bottom: 10px;
}
.weather-select{
  width: 70px;
  height: 30px;
}

.image{
  margin-bottom: 10px;
}

.title{
  margin-bottom: 10px;
}
.title{
  input[type="text"]{
    width: 400px;
  }
}

.content{
  margin-bottom: 10px;
}

.content-area{
  background-color: antiquewhite;
}


.place{
  margin-bottom: 25px;
}

.place{
  input[type="text"]{
    width: 400px;
  }
}


img{
  max-width:100%;
  height:auto;
}